<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Chris and Laura</title>
		{% block css %}
		{% endblock %}
		{% block js %}
		{% endblock %}
	</head>
	<body>
	<div id="header">
		<div id="masthead" class="container">
			{% block masthead %}
			<h1>Chris and Laura</h1>
			<div id="venue">
				<h2 id="when">July 24, 2010</h2>
				<h3 id="where" class="where">Windsor, CA</h3>
				<p class="where">
					<a href="/directions/">Getting there</a> |
					<a href="/lodging/">Lodging</a>
				</p>
			</div>
			{% endblock %}
		</div>
	</div>
	<div id="main">
		<div id="content">
		{% block content %}
			<ul class="photos">
				<li class="photo">
					<img src="{{ MEDIA_URL }}img/dc/dc1a.jpg" alt="Hi from DC" />
				</li>
				<li class="photo">
					<img src="{{ MEDIA_URL }}img/dc/dc2a.jpg" alt="We'd like to say..." />
				</li>
				<li class="photo">
					<img src="{{ MEDIA_URL }}img/dc/dc3a.jpg" alt="We're getting married" />
				</li>
				<li class="photo">
					<img src="{{ MEDIA_URL }}img/dc/dc4a.jpg" alt="!" />
				</li>
			</ul>
			<p><a href="/photos/">More photos &rarr;</a></p>
		</div>
		{% endblock %}
	</div>
	<div id="bottom">
		<div id="footer">
		{% block footer %}
			<h3><a href="/details/">Details &amp; Directions</a></h3>
			<h3><a href="/wedding-party/">Wedding Party</a></h3>
			<h3><a href="/photos/">Photos</a></h3>
			<h3><a href="/registry/">Registry</a></h3>
		{% endblock %}
		</div>
	</div>
	</body>
</html>
